rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // قاعدة عامة: لا تسمح بأي حاجة ما لم تُحدد خصيصاً 
    match /{document=**} {
      allow read, write: if false;
    }

    // السماح للمستخدمين بتعديل بياناتهم فقط
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // السماح بسحب وكتابة الـ Projects
      match /projects/{projectId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      // السماح بسحب وكتابة الـ Items
      match /items/{itemId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
